.blocks-preview-base-control-block__label {
	display: block;
	margin-bottom: 4px;
	font-size: 13px;
}

.blocks-preview-base-control-block__help {
	margin: 0 0 8px;
	color: #757575;
	font-size: 12px;
}

.blocks-preview-base-control-block .blocks-preview-component-block__saved-value {
	white-space: pre-wrap;
}
