.blocks-preview-component-block__experimental-notice,
.blocks-preview-component-block__deprecated-notice {
	margin-bottom: 12px;
}

.blocks-preview-component-block__description {
	margin: 0 0 16px;
	color: #757575;
	font-size: 12px;
	line-height: 1.5;
}

.blocks-preview-component-block__docs {
	margin: 16px 0 0;
}

.blocks-preview-component-block {
	margin: 0;
}

.blocks-preview-component-block__preview-label {
	margin: 0 0 8px;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	color: #757575;
}

.blocks-preview-component-block__saved-value {
	margin: 0;
	font-size: 13px;
}
