.blocks-preview-base-field-block {
	margin: 0;
}

.blocks-preview-base-field-block__experimental-notice {
	margin-bottom: 12px;
}

.blocks-preview-base-field-block__description {
	margin: 0 0 16px;
	color: #757575;
	font-size: 12px;
	line-height: 1.5;
}

.blocks-preview-base-field-block__docs {
	margin: 16px 0 0;
}
